body {
    background-color: rgb(45, 60, 82);
    color: rgb(255, 223, 186);
}

/* Dropdown Style */
.dropbtn {
    background-color: #0ba56d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.drop-option {
    color: black;
    background-color: aqua;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-option:hover {
    background-color: #ddd;
}
.dropdown:hover .dropbtn {
    background-color: #4a9c4c;
} 
#output-table {
    display: none;
    background-color: aquamarine;
}

/* Table style */
/* https://www.w3schools.com/html/html_tables.asp */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    background-color: rgb(104, 112, 69);
 }
 tbody tr:nth-child(odd) {
    background-color: #67683b;
 }
 td,
 th {
    border: 1px solid rgb(41, 38, 68);
    text-align: left;
    padding: 8px;
    word-wrap: break-all;
    overflow-wrap: anywhere;
}
td:last-child{
    width:0.5%; 
 }

 /* Loading animation */
 #loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .bouncer {
    animation: bounce 2.5s ease-in-out infinite;
 }

 .spinner {
    border: 30px solid #f3f3f3;
    /* Light grey */
    border-top: 30px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 1px;
    height: 1px;
    animation: spin 2.5s ease-in-out infinite;
 }

 @keyframes bounce {
    4% {
       transform: scale(105%) rotate(0deg) translateY(15%);
    }
    15% {
       transform: scale(80%) rotate(0deg) translateY(-100%);
    }
    30% {
       transform: scale(100%) rotate(0deg) translateY(0%);
    }
    80% {
       transform: scale(100%) rotate(0deg) translateY(0%);
    }
 }

 @keyframes spin {
    0% {
       transform: rotate(0deg);
    }
    8% {
       transform: rotate(0deg);
    }
    30% {
       transform: rotate(360deg);
    }
    40% {
       transform: rotate(360deg);
    }
    48% {
       transform: rotate(380deg);
    }
    90% {
       transform: rotate(0deg);
    }
 }